version: '3.9'
services:
  mongo:
    image: mongo:7
    ports:
      - '27017:27017'
  api:
    build: ../apps/api
    ports:
      - '4000:4000'
    depends_on:
      - mongo
  web:
    build: ../apps/web
    ports:
      - '5173:5173'
    depends_on:
      - api
