name: CD
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build & push API image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/api-simple
          push: true
          tags: ghcr.io/${{ github.repository }}/task-boards-api:latest
      - name: Build & push Web image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/web-simple
          push: true
          tags: ghcr.io/${{ github.repository }}/task-boards-web:latest
